@font-face {
  font-family: "freescpt";
  src: url("../fonts/freescpt.TTF");
}

@font-face {
  font-family: "Mont-Book";
  src: url("../fonts/Mont-fonts/Mont-Book.ttf");
}

@font-face {
  font-family: "Mont-Bold";
  src: url("../fonts/Mont-fonts/Mont-Bold.ttf");
}

@font-face {
  font-family: "Mont-SemiBold";
  src: url("../fonts/Mont-fonts/Mont-SemiBold.ttf");
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  font-family: "Mont-SemiBold";
  font-size: 14px;
  background-color: #fff;
  /*overflow:hidden;
    overflow-y: auto;*/
  padding: 10px 10px;
}

/*.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}*/
a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

input {
  color: #e4e4e4;
  font-family: "Mont-Book";
}

input:hover,
input:focus,
input:active {
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

h3 {
  font-family: "Mont-Bold";
}

h4 {
  margin: 0px;
}

.pl-30 {
  padding-left: 35px;
}

.pl-50 {
  padding-left: 50px;
}

.pl-65 {
  padding-left: 65px;
}

.head1 {
  font-size: 40px;
  font-family: "Mont-Bold";
}

.section {
  margin: 50px 0px;
  position: relative;
  /* top: 75rem;*/
}

.small-btn-submit {
  background: #ff5a5f 0% 0% no-repeat padding-box;
  border-radius: 28px;
  border: none;
  padding: 5px 35px;
  color: #fff;
  font-size: 12px;
  font-family: "Mont-Bold";
}

.small-btn-submit:focus,
.small-btn-submit:hover,
.small-btn-submit:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.btn-submit {
  background: #ff5a5f 0% 0% no-repeat padding-box;
  border-radius: 28px;
  border: none;
  padding: 10px 100px;
  color: #fff;
  font-size: 14px;
  font-family: "Mont-Bold";
}

.btn-submit:focus,
.btn-submit:hover,
.btn-submit:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.navbar {
  background: none;
  position: absolute;
  z-index: 9;
  width: 98.5%;
  padding: 10px 50px;
}

.navbar a img {
  width: 197px;
}

.navbar .navbar-collapse .navbar-nav {
  float: right;
}

.navbar .navbar-collapse .navbar-nav .nav-item {
  text-align: center;
  width: 130px;
  font: SemiBold 16px/12px Mont;
  letter-spacing: 0;
  color: #ffffff;
  font-family: "Mont-SemiBold";
}

.navbar .navbar-collapse .navbar-nav .nav-item a {
  color: #fff !important;
  font-family: "Mont-SemiBold";
}

.navbar .order-md-last ul {
  float: right;
}

.navbar .order-md-last ul li a {
  color: #fff !important;
}

.navbar .custom-logo {
  position: relative;
  top: 25px;
}

/* Make the image fully responsive */
.carousel {
  /* height: 96.8vh;*/
  /* position: absolute;*/
}

.carousel .carousel-inner {
  border-radius: 55px;
}

.carousel .banner-carousel-inner .banner-inner img {
  height: 96vh;
}

.carousel .custom-aleft {
  position: absolute;
  left: 0;
  border: 2px solid;
  width: 30px;
  height: 30px;
  top: 41%;
  border-radius: 55px;
}

.carousel .custom-aright {
  position: absolute;
  right: 0;
  border: 2px solid;
  width: 30px;
  height: 30px;
  top: 41%;
  border-radius: 55px;
}

.carousel .carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel .custom-indicators li {
  width: 14px;
  height: 14px;
  background-color: #fff;
  border-radius: 15px;
}

.carousel .custom-indicators li.active {
  background-color: transparent;
  border: 1px solid #fff;
}

.carousel .cst-carousel-control-prev {
  left: 35%;
}

.carousel .cst-carousel-control-next {
  right: 35%;
}

.carousel .csthome-indict {
  position: absolute;
  bottom: 25%;
  width: 100%;
}

.carousel .custom-indicators1 {
  position: absolute;
  z-index: 0;
}

.carousel .custom-indicators1 li {
  width: 14px;
  height: 14px;
  background-color: #fff;
  border-radius: 15px;
}

.carousel .custom-indicators1 li.active {
  background-color: transparent;
  border: 1px solid #fff;
}

.carousel .custom-indicators1 .cst-carousel-control-prev {
  left: 35%;
}

.carousel .custom-indicators1 .cst-carousel-control-next {
  right: 35%;
}

.carousel .cst-carousel-control-prev2 {
  position: relative;
  margin: 0 10%;
  display: inline-block;
  vertical-align: top;
  margin-top: 0px;
  left: 0rem;
  top: -1rem;
  z-index: 9;
}

.carousel .cst-carousel-control-prev2 span {
  position: relative;
  z-index: 9;
}

.carousel .cst-carousel-control-next2 {
  position: relative;
  margin: 0 10%;
  display: inline-block;
  vertical-align: top;
  margin-top: 0px;
  right: 0rem;
  top: -1rem;
  z-index: 9;
}

.carousel .cst-carousel-control-next2 span {
  position: relative;
  z-index: 9;
}

.form-block {
  position: absolute;
  top: 20%;
  right: 5%;
}

.form-block .card-outline-secondary {
  -webkit-box-shadow: 0px 5px 8px #0000003d;
          box-shadow: 0px 5px 8px #0000003d;
  border-radius: 50px;
}

.form-block .card-outline-secondary .card-body {
  padding: 30px;
}

.form-block .card-outline-secondary .card-body h3 {
  font-family: "Mont-Bold";
  font-size: 32px;
}

.form-block .card-outline-secondary .card-body form .form-group lable {
  font-family: "Mont-SemiBold";
}

.form-block .card-outline-secondary .card-body form .form-group .date-image1 img {
  width: 17px;
  height: 17px;
  position: absolute;
  top: 39px;
  left: 24px;
  z-index: 99;
}

.form-block .card-outline-secondary .card-body form .form-group .date-image2 img {
  width: 17px;
  height: 17px;
  position: absolute;
  top: 39px;
  left: 5px;
  z-index: 1;
}

.form-block .card-outline-secondary .card-body form .form-group .newfacalendar1 {
  position: absolute;
  top: 27px;
  left: 12px;
  font-size: 14px;
  padding-top: 12px;
  line-height: 1;
  color: #bdbdbd;
}

.form-block .card-outline-secondary .card-body form .form-group .newfacalendar2 {
  position: absolute;
  top: 27px;
  left: 31px;
  font-size: 14px;
  padding-top: 12px;
  line-height: 1;
  color: #bdbdbd;
}

.form-block .card-outline-secondary .card-body form .form-group #datepicker1 {
  padding: 10px 35px;
}

.form-block .card-outline-secondary .card-body form .form-group #datepicker2 {
  padding: 10px 5px 10px 49px;
}

.form-block .card-outline-secondary .card-body form .form-group .form-control {
  border: 1px solid #e4e4e4;
  border-radius: 28px;
  height: 40px;
}

.form-block .card-outline-secondary .card-body form .form-group .cst-pr {
  position: relative;
  z-index: 9;
  text-align: right;
}

.form-block .card-outline-secondary .card-body form .form-group .cst-pl {
  position: relative;
  z-index: 0;
  text-align: right;
}

.form-block .card-outline-secondary .card-body form .form-group .cstpl-wd {
  width: 114%;
  left: -30px;
}

.form-block .card-outline-secondary .card-body form .form-group .country-code {
  position: absolute;
  width: 60px;
  background: transparent;
}

.form-block .card-outline-secondary .card-body form .custom-formgroup2 {
  margin-left: -26px;
  position: relative;
  z-index: 0;
}

.form-block .card-outline-secondary .card-body form .custom-formgroup1 {
  position: relative;
  z-index: 1;
}

header section {
  border-radius: 50px;
  display: block;
  /*  position: absolute;*/
  position: relative;
  width: 100%;
  height: 180px;
  z-index: 9;
  right: 0;
}

header .headp {
  position: absolute;
  top: 22px;
  z-index: 1;
  right: 5%;
  margin-bottom: 0;
  width: 90%;
  text-align: right;
  color: #fff !important;
  margin: 0;
  font-family: "Mont-Book";
}

header span {
  font-family: "Mont-Bold";
}

.banner {
  /* height: 100vh;*/
  position: relative;
}

.cst-sm-form-block {
  display: none;
}

.custom-jumbotronhome {
  position: relative;
  top: 15rem;
  left: 0rem;
  background: transparent;
  padding: 0;
}

.new-cardblock .card {
  border: none;
  background: #ffffff 0% 0% no-repeat padding-box;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  -webkit-box-shadow: 0px 16px 24px #00000033;
          box-shadow: 0px 16px 24px #00000033;
  border-radius: 20px;
}

.new-cardblock .card .card-block {
  padding: 0px 15px;
}

.new-cardblock .card .card-block .card-title {
  font-family: "Mont-Bold";
  margin-bottom: 0;
}

.new-cardblock .card .card-block .card-text {
  font-family: "Mont-Book";
  color: #9a9a9a;
}

.new-cardblock .card .card-footer {
  background: #fff;
  border: none;
  border-radius: 20px;
  /*padding: 15px;
    padding: 15px 15px 30px 15px;*/
  padding: 15px 15px;
}

.new-cardblock .card .card-footer .price-align {
  position: relative;
  top: 5px;
}

.new-cardblock .card .fa-heart {
  color: #e4e4e4;
}

.new-cardblock .card .fa-heart.active {
  color: #ff234a;
}

.new-cardblock .card:hover {
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
}

.cstitem1.active {
  background: url("../images/home/Base.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  height: 520px;
  width: 100%;
  border-radius: 55px;
}

.cstitem2.active {
  background: url("../images/home/Base@2x.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  height: 520px;
  width: 100%;
  border-radius: 55px;
}

.cstitem3.active {
  background: url("../images/home/Base@3x.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  height: 520px;
  width: 100%;
  border-radius: 55px;
}

.cst-carousel-control-prev1 {
  left: 0%;
}

.cst-carousel-control-next1 {
  left: 15%;
}

.carousel-indicators .active {
  background: transparent;
}

footer {
  background: #161616 0% 0% no-repeat padding-box;
  border-radius: 50px;
  color: #fff;
  padding: 50px;
}

footer .subscribe {
  border: 1px solid #7fc4fd;
  background: transparent;
  border-radius: 20px;
  margin-right: 5px;
  border-radius: 20px;
}

footer .subscribe:focus,
footer .subscribe:hover,
footer .subscribe:active {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

footer .subscribe-btn {
  border: none;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 20px;
  color: #2699fb;
}

footer .subscribe-btn:focus,
footer .subscribe-btn:hover,
footer .subscribe-btn:active {
  background: #ffffff 0% 0% no-repeat padding-box;
  color: #2699fb;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

/**************************** travel private page css **************************************/
.custom-jumbotron {
  height: 94vh;
  background: url("../images/travelprivate/banner.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  border-radius: 55px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
}

.section .content-block {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 40%;
  width: 100%;
  padding-left: 20px;
}

/**************************** travel private page css **************************************/
/**************************** travel packages page css **************************************/
.packsection {
  background: #efefef;
  border-radius: 55px;
}

.packsection .cst-position {
  position: relative;
  top: 0;
  right: 0;
}

.boredercls {
  border-radius: 55px;
  overflow: hidden;
}

ul.timeline {
  list-style-type: none;
  position: relative;
}

ul.timeline:before {
  content: " ";
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 115px;
  width: 2px;
  height: 92%;
  z-index: 400;
}

ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}

ul.timeline > li:before {
  content: " ";
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 1px solid #d4d9df;
  left: 108px;
  width: 15px;
  height: 15px;
  z-index: 400;
}

.cst-nav-tabs {
  border-bottom: none !important;
}

.btn-black {
  position: relative;
  z-index: 0;
  background: transparent !important;
  border: 1px solid #090909 !important;
  border-radius: 29px !important;
  color: #000 !important;
  padding: 10px 60px 10px 16px;
}

.btn-black.active {
  background: #090909 0% 0% no-repeat padding-box !important;
  border: 1px solid #090909;
  border-radius: 29px;
  color: #fff !important;
  z-index: 1;
  padding: 10px 30px;
}

.zbtn {
  position: absolute;
  left: 23%;
  padding: 10px 40px;
}

.btn-black:focus,
.btn-black:hover,
.btn-black:active {
  background: #090909 0% 0% no-repeat padding-box !important;
  border: 1px solid #090909;
  border-radius: 29px;
  color: #fff !important;
}

/**************************** travel packages page css **************************************/
/**************************** Nav Menu css Munsif**************************************/
.navigation {
  position: absolute;
  width: 98%;
  z-index: 2;
}

.navigation .nav-items-holder {
  background: transparent;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation .nav-items-holder .nav-item {
  padding: 20px;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.navigation .nav-items-holder .nav-item:hover {
  background: transparent;
  color: #fff;
}

.navigation .nav-items-holder .nav-item:hover .sub-menu {
  display: block;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
}

.navigation .nav-items-holder .nav-item .sub-menu {
  position: absolute;
  width: 100%;
  background: #fcfcfc;
  height: 400px;
  left: 0;
  z-index: 9;
  margin-top: 15px;
  display: none;
  border-radius: 29px;
  overflow-x: hidden;
}

.navigation .nav-items-holder .nav-item .sub-menu .sub-menu-items-holder {
  width: 100%;
  margin: 0 auto;
  height: 200px;
}

.navigation .nav-items-holder .nav-item .sub-menu .sub-menu-items-holder .sub-menu-item-list {
  height: 400px;
  width: 30%;
  background: #444;
  max-width: 25%;
  text-align: right;
}

.navigation .nav-items-holder .nav-item .sub-menu .sub-menu-items-holder .sub-menu-item-list .sub-menu-item {
  color: #fff;
  text-align: right;
}

.navigation .nav-items-holder .nav-item .sub-menu .sub-menu-items-holder .sub-menu-item-list .sub-menu-item span {
  display: inline-block;
  padding: 15px;
  width: 50%;
  text-align: center;
  border-radius: 29px 0px 0px 29px;
}

.navigation .nav-items-holder .nav-item .sub-menu .sub-menu-items-holder .sub-menu-item-list .sub-menu-item:hover span {
  background: #fcfcfc;
  color: #444;
}

.navigation .nav-items-holder .nav-item .sub-menu .sub-menu-items-holder .sub-menu-item-list .sub-menu-item:hover .sub-item-desc {
  display: block;
  border-radius: 29px;
  overflow-x: hidden;
}

.navigation .nav-items-holder .nav-item .sub-menu .sub-item-desc-holder {
  position: absolute;
  top: 0;
  padding-left: 15px;
  max-width: 75%;
}

.navigation .nav-items-holder .nav-item .sub-menu .sub-item-desc-holder .sub-item-desc {
  width: 55%;
  text-align: left;
  height: 200px;
  color: #444;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  display: none;
}

.navigation .nav-items-holder .nav-item .sub-menu .sub-item-desc-holder .sub-item-desc .sub-item-item ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation .nav-items-holder .nav-item .sub-menu .sub-item-desc-holder .sub-item-desc:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/**************************** Nav Menu css Munsif **************************************/
/*************************************************** media queries ***********************************/
/*************************enquery form ***************************************************************/
@media (max-width: 1550px) and (min-width: 1200px) {
  ul.timeline:before {
    content: " ";
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 80px;
  }
  ul.timeline > li:before {
    content: " ";
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 1px solid #d4d9df;
    left: 73px;
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  ul.timeline:before {
    content: " ";
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 95px;
  }
  ul.timeline > li:before {
    content: " ";
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 1px solid #d4d9df;
    left: 89px;
  }
}

@media (max-width: 1366px) {
  .enqury-card {
    padding: 20px 15px !important;
  }
  .enqury-card h3 {
    font-size: 24px !important;
  }
  #formLogin .form-control {
    height: 35px;
  }
  .banner-inner img {
    height: 94vh !important;
  }
  .btn-submit {
    padding: 5px 50px;
  }
}

@media (max-width: 1200px) {
  /*.section {
    top: 48rem;
    
}*/
}

@media (max-width: 1199px) {
  .banner-inner img {
    height: 65vh !important;
  }
  #formLogin .form-control {
    height: 35px;
  }
  .enqury-card h3 {
    font-size: 20px !important;
  }
}

@media (max-width: 1024px) {
  .banner-inner img {
    height: 94vh !important;
  }
  .cst-carousel-control-prev {
    margin: 0 -20%;
  }
  .cst-carousel-control-next {
    margin: 0 -20%;
  }
}

@media (max-width: 800px) {
  .carousel {
    position: relative;
  }
  .banner-inner img {
    height: 55vh !important;
  }
}

@media (max-width: 768px) {
  #formLogin .form-control {
    height: 35px;
  }
  .banner-inner img {
    height: 65vh !important;
  }
}

@media (max-width: 767px) {
  .form-block {
    position: relative;
    right: 0%;
  }
  .sm-form-none {
    display: none;
  }
  .cst-sm-form-block {
    display: block;
  }
  .carousel {
    position: relative;
  }
  .card-outline-secondary {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
  .cst-pl {
    text-align: left !important;
  }
  .cst-pr {
    text-align: left !important;
  }
  .section {
    margin: 0px 0px 20px 0px;
  }
  .section .content-block {
    position: relative;
    height: auto !important;
    top: 40% !important;
  }
  ul.timeline:before {
    content: " ";
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 0px;
    height: 86%;
  }
  ul.timeline > li:before {
    content: " ";
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 1px solid #d4d9df;
    left: -7px;
  }
}

@media (max-height: 600px) {
  .banner-inner img {
    height: 100vh !important;
  }
  footer {
    padding: 15px;
  }
}

@media (max-width: 575px) {
  .cstpl-wd {
    width: 100% !important;
    left: 0 !important;
    right: 0 !important;
  }
  .pr-0 {
    padding-right: 15px !important;
  }
  .pl-0 {
    padding-left: 15px !important;
  }
  footer {
    padding: 5px;
  }
  .custom-formgroup2 {
    margin-left: 0 !important;
  }
}

@media (max-width: 414px) {
  .cst-carousel-control-next2 {
    top: 0.5rem;
  }
  .cst-carousel-control-prev2 {
    top: 0.5rem;
  }
  .banner-inner img {
    height: 50vh !important;
  }
}

@media (max-width: 320px) {
  ul.timeline:before {
    content: " ";
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 0px;
    height: 88%;
  }
  .banner-inner img {
    height: 50vh !important;
  }
}

/*************************enquery form ***************************************************************/
/*************************************************** end media queries ***********************************/
/*# sourceMappingURL=style.css.map */